form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}

fieldset {
    border: 0;
}

fieldset + fieldset {
    margin-top: 8rem;
}

fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

.input-block + .input-block {
    margin-top: 2.4rem;
}

.input-block label {
    color: #8fa7b3;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.4;
    color: #8fa7b3;
    margin-left: 2.4rem;
    line-height: 1.5;
}

.input-block input,
.input-block textarea {
    width: 100%;

    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 2rem;
  
    color: #5C8599;
} 

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block input:valid,
.input-block textarea:valid {
    border: 1px solid #a1e9c5;
}

.input-block textarea {
    height: clamp(12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8rem;
}

.input-block.fotos button {
    width: 100%;
    background: #F5F8FA;
    border: 1px dashed #96D2F0;
    border-radius: 20px;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    cursor: pointer;
}

.new-upload {
    position: relative;
}

.new-upload span {
    position: absolute;
    right: 12px;
    bottom: 14px;
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    padding: .6rem;
    cursor: pointer;
}

.new-upload + .new-upload {
    margin-top: 2.4rem;
}