* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    background: #ebf2f5;
}

:root {
    font-size: 62.5%;
}
body, input, button, textarea {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    line-height: 1;
   
}