
#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    text-align: center;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

#container {
    margin: auto;
    width: min(90%, 112rem);
}

.local, h1, .visite p {
    height: 16vh;
}

#logo {
    animation-delay: 50ms;
}

.local {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(4rem, 8vw, 8.4rem);
}

.visite a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 200ms;
    animation-delay: 250ms;

}

.visite a:hover{
    background: #96feff;
}

/* desktop version */
@media(min-width: 760px){
    
    #container {
        /* shorthand background: image repeat position / size */
        background: url(../images/bg.svg) no-repeat 80% / clamp(30rem, 54vw, 56rem);
        padding: 5rem 2rem;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .local, h1, .visite p {
        height: initial;
        text-align: initial;
    }

    .local {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1 {
        font-weight: bold;
        width: min(300px, 80%);
        line-height: 0.88;
        margin: clamp(10%, 9vh, 12%) 0 4rem;
    }

    .visite {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visite p {
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);
        font-size: 2.4rem;
        animation-delay: 200ms;
    }

    .visite a{
        margin: initial;
    }
}
