#page-orfanatos {
    display: flex;
    min-height: 100vh;

}

main {
    flex: 1;
}

.detalhes-orfanato {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    overflow: hidden;
}

.detalhes-orfanato > img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;
}

.images button {
    border: 0;
    background: none;

    height: 8.8rem;
    cursor: pointer;
    border-radius: 2rem;

    overflow: hidden;
    opacity: .6;
    transition: opacity 0.2s;
}

.images button:hover,
.images button.active {
    opacity: 1;
}

.images button img {
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

.conteudo-detalhes-orfanato {
    padding: 8rem;
}

.conteudo-detalhes-orfanato h1{
    color: #4d6f80;
    font-size: 5.4rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.conteudo-detalhes-orfanato p {
    line-height: 1.6;
    color: #5c8599;
    margin-top: 2.4rem;
}

.conteudo-detalhes-orfanato hr {
    width: 100%;
    height: 1px;
    border: 0;
    background: #d3e2e6;
    margin: 6.4rem 0;
}

.conteudo-detalhes-orfanato h2 {
    font-size: 3.6rem;
    line-height: 1.5rem;
    color: #4d6f80;

}

.abrir-detalhes {
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    line-height: 1.5;
}

.abrir-detalhes div {
    padding: 3.2rem 2.4rem;
}

.abrir-detalhes img {
    display: block;
    margin-bottom: 2rem;
}

.abrir-detalhes .hora {
    background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
    border: 1px solid #B3DAE2;
    border-radius: 20px;
    color: #5c8599;
}

.abrir-detalhes .aberto-fimdeSemana {
    border-radius: 20px;
}

.aberto-fimdeSemana.aberto {
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
    border: 1px solid #A1E9C5;
    color: #37c77f;
}

.aberto-fimdeSemana.fechado {
    background: linear-gradient(154.16deg, #fcf0f4 7.85%, #FFFFFF 91.03%);
    border: 1px solid #ffbcd4;
    color: #ff999d;
}
