<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Orfanato | Happy</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <link rel="icon" href="/images/logo-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/map.css">
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/buttons.css">
        <link rel="stylesheet" href="/css/page-criar-orfanato.css">
    </head>
    <body>
        <div id="page-criar-orfanato">
            <aside class="animate-right sidebar">
                <img src="/images/map-marker.svg" alt="Happy">
                <footer>
                    <button onclick="history.back()">
                        <img src="/images/arrow-back.svg" alt="Voltar">
                    </button>
                </footer>
            </aside>
            <main class="animate-appear with-sidebar">
                <form action="save-orfanato" method="post">
                    <fieldset>
                        <legend> Dados </legend>
                        <div class="map-container">
                            <div id="mapid"></div>
                            <input type="hidden" name="latitude">
                            <input type="hidden" name="longitude">
                            <footer>
                                <a href="#" id="select-point"> Clique no mapa para adicionar a localização</a>
                            </footer>
                        </div>
                        <div class="input-block">
                            <label for="nome"> Nome </label>
                            <input id="nome" type="text" name="nome" required>
                        </div>
                        <div class="input-block">
                            <label for="sobre"> Sobre <span>Máximo de 300 catacteres</span> </label>
                            <textarea id="sobre" name="sobre" required></textarea>
                        </div>
                        <div class="input-block">
                            <label for="whatsapp"> Número de whatsapp</label>
                            <input type="number" id="whatsapp" name="whatsapp" required>
                        </div>
                        <div class="input-block fotos">
                            <label for="fotos"> Foto</label>
                            <div class="fotos-upload" id="fotos">
                                <div class="new-upload">
                                    <input name="fotos" placeholder="Cole o link da foto aqui" required type="url">
                                    <span onclick="deleteLink(event)"> <img src="/images/remove-file.svg" alt="remover foto"></span>
                                </div>
                                
                            </div>
                            <button type="button" onclick="addPhotoField()">
                                <img src="/images/add-file.svg" alt="Adicionar nova foto">
                            </button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend> Visitação </legend>
                        <div class="input-block">
                            <label for="instructions"> Instruções </label>
                            <textarea id="instructions" name="instructions" required></textarea>
                        </div>
                        <div class="input-block">
                            <label for="opening_hours"> Horário das visitas </label>
                            <input id="opening_hours" type="text" name="opening_hours" required>
                        </div>
                        <div class="input-block">
                            <label for="open_on_weekens"> Atende fim de semana? </label>
                            <input id="open_on_weekens" type="hidden" name="open_on_weekens" value="1" required>
                            <div class="button-select">
                                <button data-value="1"
                                    onclick="toggleSelect(event)" 
                                    type="button" class="active">Sim
                                </button>
                                <button data-value="2"
                                    onclick="toggleSelect(event)" 
                                    type="button">Não
                                </button>
                            </div>
                            <button type="submit" class="primary-button"> Confirmar </button>
                        </div>
                    </fieldset>
                </form>
            </main>
        </div>
        <script src="/scripts/page-criar-orfanato.js"></script>
    </body>
</html>