<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Happy</title>
        <link rel="icon" href="/images/logo-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/page-landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="page-landing">
            <div id="container">
                <header>
                    <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logo da Happy">
                    <div class="local animate-up">
                        <strong>Campinas</strong>
                        <p>São Paulo</p>
                    </div>
                </header>
                <main>
                    <h1 class="animate-up">Leve felicidade para o mundo</h1>
                    <section class="visite">
                        <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
                        <a class="animate-up" href="/orfanatos" title="Visite orfanatos">
                            <img src="/images/arrow.svg" alt="Ir para o mapa">
                        </a>
                    </section>
                </main>
            </div>
        </div>
    </body>
</html>