<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{orfanato.nome}} | Happy</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <link rel="icon" href="/images/logo-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/map.css">
        <link rel="stylesheet" href="/css/buttons.css">
        <link rel="stylesheet" href="/css/page-orfanato.css">
        <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    </head>
    <body>
        <div id="page-orfanatos">
            <aside class="animate-right sidebar">
                <img src="/images/map-marker.svg" alt="Happy">
                <footer>
                    <button onclick="history.back()">
                        <img src="/images/arrow-back.svg" alt="Voltar">
                    </button>
                </footer>
            </aside>
            <main class="animate-appear width-sidebar">
                <div class="detalhes-orfanato">
                    <img src="{{orfanato.firstFoto}}" alt="{{orfanato.nome}}">
                    <div class="images">
                         {{#each orfanato.fotos}}
                            <button onclick="selectImage(event)" class="active" type="button">
                                <img src="{{this}}" alt="{{orfanato.nome}}">
                            </button>
                        {{/each}}
                    </div>
                    <div class="conteudo-detalhes-orfanato">
                        <h1>{{orfanato.nome}}</h1>
                        <p>{{orfanato.sobre}}</p>
                        <div class="map-container">
                            <div id="mapid"></div>
                            <span data-latitude="{{orfanato.latitude}}" data-longitude="{{orfanato.longitude}}"></span>
                            <footer>
                                <a href="https://maps.google.com/mobile?q={{orfanato.latitude}},{{orfanato.longitude}}&z=15" target="blank">Ver rotas no Google Maps</a>
                            </footer>
                        </div>
                        <hr>
                        <h2>Instruções Para visita</h2>
                        <p>{{orfanato.instructions}}</p>
                        <div class="abrir-detalhes">
                            <div class="hora">
                                <img src="/images/clock.svg" alt="Horários"/>
                                {{orfanato.opening_hours}} 
                            </div>
                            {{#if orfanato.open_on_weekens}}
                                <div class="aberto-fimdeSemana aberto">
                                        <img src="/images/info.svg" alt="Informações">
                                        Atendemos fim de semana
                                </div>
                            {{else}}
                                <div class="aberto-fimdeSemana fechado">
                                        <img src="/images/info-red.svg" alt="Informações">
                                        Não atendemos fim de semana
                                </div>
                            {{/if}}
                        </div>
                        <a href="https://api.whatsapp.com/send?l=pt_BR&phone={{orfanato.whatsapp}}" type="button" class="primary-button" target="blank">
                            <img src="/images/whatsapp.svg" alt="Chamar no WhatsApp">
                            Entrar em contato.
                        </a>
                    </div>
                </div>
            </main>
        </div>
        <script src="/scripts/page-orfanato.js"></script>
    </body>
</html>